<section class="todos__list">
	<div class="todos__list-name">
		<p class="todos__list-title"> <%= section_title %> </p>
		<p class="todos__list-status"> <%= todos.completed.count %>/<%= todos.count %> </p>
	</div>
	<ul class="todos__list-contents">

		<% todos.each do |todo| %>
			<li>
				<%= form_with url:"/todos/#{todo.id}", method: :put do %>
					<input type="checkbox" name="completed" 
						<% if todo.completed %> checked <% end%>
						onclick="this.form.submit()"
					/>
				<%end%>
				<span class=<%= todo.completed ? "text-strike" : "" %> >
					<%= todo.todo_text %>
				</span>
				<% if show_due_date%>
					<span class="todos__item-status">
						<%=todo.due_date.to_s(:short) %>
					</span>
				<% end %>
				<a href="javascript:void(0)" class="todos__item-delete">
					<%= form_with url:"/todos/#{todo.id}",method: :delete do %>
						<input type="image" src="delete_icon.png" alt="submit" />
					<% end %>
				</a>
			</li>
		<% end %>

	</ul>
</section>
